.limit-input-ctn {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.limit-input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foobarqix-ctn {
  position: absolute;
  margin-left: 5vw;
  columns: 6;
}

.foobarqix-box {
  display: flex;
  width: 15vw;
}

.foobarqix-input, .foobarqix-change {
  width: 15%;
}

p {
  margin: 5px
}